.card-data{
    background: url("../../../public/images/casestudies/Subtract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    }

    /* .card-data{
      background-color: #F3F3F3;
    } */

     .case-card {
        position: relative;
        overflow: hidden;
      }
      
      .hover-text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fbbf24; 
        color: #fff;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.5s ease;
        line-height: 1;
      }
      
      .case-card:hover .hover-text {
        opacity: 1;
      }
      
      
      .case-card:hover{
        transition: 0.3s ease;
        transform: translateY(-0px);
      }



@media only screen and (max-width: 768px) {
 
    .case-studies-1 {
      position: absolute;
      top: 0.6rem;
      left: 2rem;
    }
  
    .case-studies-2 {
      position: absolute;
      top: 0.6rem;
      right: 2rem;
    }
  
    .case-studies-3 {
      position: absolute;
      top: 10rem;
      left: 9rem;
    }
  
    .case-studies-4 {
      position: absolute;
      top: 10rem;
      right: 4rem;
    }
 
  }



@media only screen and (max-width: 640px) {

    .case-desc{
        font-size: 12px;
    }

    .case-para{
        padding: 0 3rem;
    }
 
    .case-studies-1 {
      position: absolute;
      top: 0.6rem;
      left: 2rem;
    }
  
    .case-studies-2 {
      position: absolute;
      top: 0.6rem;
      right: 2rem;
    }
  
    .case-studies-3 {
      position: absolute;
      top: 8rem;
      left: 6rem;
    }
  
    .case-studies-4 {
      position: absolute;
      top: 8rem;
      right: 6rem;
    }
 
  }
  
  @media only screen and (max-width: 540px) {
    .case-para{
        padding: 0 2rem;
    }

    .case-studies-1 {
      position: absolute;
      top: 0.6rem;
      left: 0.1rem;
    }
  
    .case-studies-2 {
      position: absolute;
      top: 0.6rem;
      right: 0.1rem;
    }
  
    .case-studies-3 {
      position: absolute;
      top: 8rem;
      left: 1.6rem;
    }
  
    .case-studies-4 {
      position: absolute;
      top: 8rem;
      right: 1.6rem;
    }
  
  }
  
  @media only screen and (max-width: 440px) {
    .case-studies-1 {
      position: absolute;
      top: 0.6rem;
      left: 0;
    }
  
    .case-studies-2 {
      position: absolute;
      top: 0.6rem;
      right: 0;
    }
  
    .case-studies-3 {
      position: absolute;
      top: 8rem;
      left: 1.5rem;
    }
  
    .case-studies-4 {
      position: absolute;
      top: 8rem;
      right: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .case-studies-1 {
        position: absolute;
        top: 0.6rem;
        left: 0;
      }
    
      .case-studies-2 {
        position: absolute;
        top: 0.6rem;
        right: 0;
      }
    
      .case-studies-3 {
        position: absolute;
        top: 8rem;
        left: 1.1rem;
      }
    
      .case-studies-4 {
        position: absolute;
        top: 8rem;
        right: 1.1rem;
      }
  }

  @media only screen and (max-width: 350px) {
    .case-studies-1 {
        position: absolute;
        top: 0.6rem;
        left: 0;
      }
    
      .case-studies-2 {
        position: absolute;
        top: 0.6rem;
        right: 0;
      }
    
      .case-studies-3 {
        position: absolute;
        top: 8rem;
        left: 0.8rem;
      }
    
      .case-studies-4 {
        position: absolute;
        top: 8rem;
        right: 0.8rem;
      }
  }

  

 
  


  
 